server {
    server_name doc-api.192.168.33.208.xip.io;
    root /var/www/odeon-backend-doc/build/html;
    index index.html;
    location / {
        try_files $uri $uri/ =404;
    }
    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}
